// footer


footer{
    width: 100%;
    background-color: $color-black-rock;
    padding-top: 50px;
    padding-bottom: 71px;
    margin-top: 110px;
    .container-footer{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .footer-brand-name{
            width: 314px;
            h1{
                font-family: Roboto;
                font-size: 28px;
                font-weight: 700;
                color: white;
            }
            p{
                color: #FFFFFF80;
                margin: 41px 0;
            }
            h6{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                color: white;
                margin-top: 8px;
            }
            .footer-messenger{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 55px;
                button{
                    width: 20px;
                    height: 20px;
                    border: none;
                    color: white;
                    background-color: $color-black-rock;
                    font-size: 16px;
                }
            }
        }
        .footer-shoping{
            width: 103px;
            h3{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 18px;
                color: white;
            }
            p{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                color:  #F3F6FF;
                margin-top: 16px;
            }
        }
        .footer-more-link{
            width: 88px;
            h3{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 18px;
                color: white;
            }
            p{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                color:  #F3F6FF;
                margin-top: 16px;
            }
        }
        .footer-promo-update{
            width: 312px;
            h3{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 25px;
                color: white;
            }
            h2{
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF80;
                padding-bottom: 10px;
            }
            p{
                color: #F3F6FF;
            }
            .footer-gray{
                color: #FFFFFF80;
                margin-top: 9px;
                margin-bottom: 33px;
            }
            .july{
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF80;
                padding-bottom: 10px;
                margin-top: 34px;
            }
        }
    }
}